<script>


vkontakte_obj.shares_url = "<%= shares_url %>";
facebook_obj.shares_url  = "<%= shares_url %>";
twitter_obj.shares_url   = "<%= shares_url %>";
//Секция инициализации


$(function(){
	vkontakte_obj.make_params(
			'<%= "#{shares_url}" %>',
			'<%= "#{title}" %>',
			'<%= "#{image_voice_left}" %>',
			'<%= "#{desc}" %>' );	
	twitter_obj.make_params(
			'<%= "#{shares_url}" %>',
			'<%= "#{title}" %>',
			'<%= "#{image_voice_left}" %>',
			'<%= "#{desc}" %>' );
	facebook_obj.make_params(
			'<%= "#{shares_url}" %>',
			'<%= "#{title}" %>',
			'<%= "#{image_voice_left}" %>',
			'<%= "#{desc}" %>' );

		

	$('.share_vk').live("click",function(){
		if ($(this).attr("id") == "share_vk_left") {
		  	vkontakte_obj.change_params('','','<%= "#{image_voice_left}" %>','' );
		    vkontakte_obj.change_params('','','','<%= "#{desc_left}" %>' );
		} else {
			vkontakte_obj.change_params('','','<%= "#{image_voice_right}" %>','' );
		    vkontakte_obj.change_params('','','','<%= "#{desc_right}" %>' );		    
		}
		vkontakte_obj.share();
 	});

	$('.share_tw').live("click",function(){
		if ($(this).attr("id") == "share_tw_left") {
		  	twitter_obj.change_params('','','<%= "#{image_voice_left}" %>','' );
		    twitter_obj.change_params('','','','<%= "#{desc_left}" %>' );		  	
		} else {
			twitter_obj.change_params('','','<%= "#{image_voice_right}" %>','' );
		    twitter_obj.change_params('','','','<%= "#{desc_right}" %>' );				
		}
		twitter_obj.share();
 	});

	$('.share_fb').live("click",function(){
		if ($(this).attr("id") == "share_fb_left") {
		  	facebook_obj.change_params('','','<%= "#{image_voice_left}" %>','' );
		    facebook_obj.change_params('','','','<%= "#{desc_left}" %>' );		  	
		} else {
			facebook_obj.change_params('','','<%= "#{image_voice_right}" %>','' );
		    facebook_obj.change_params('','','','<%= "#{desc_right}" %>' );				
		}
		facebook_obj.share();
 	}); 	

   
 	$('#b2').tooltip({ html: 'true', 
 					   title: '<p class="my_line desc_wrap mywrap"><%= description2 %></p>', 
					   placement: 'right'});
 	$('#b1').tooltip({  title: '<p class="my_line desc_wrap mywrap"><%= description1 %></p>', 
						html: 'true', 
						placement: 'left',
						trigger: 'hover' }	)
});


</script>