<%
  @border_div = 0
  @description1 = "BlaBlaBlaBlaBlaBla BlaBla 				 BlaBlaBla BlaBlaBlaBlaBlaBla BlaBla BlaBlaBla BlaBlaBlaBlaBlaBla BlaBla BlaBlaBla"
  @description2 = "Битва (Генеральное сражение) — широкомасштабные военные действия (включающие боевые действия) между двумя сторонами, находящимися друг с другом в состоянии войны. Название битве, как правило, даётся по местности, где она состоялась. Битвы отличаются от боёв и сражений своим масштабом и значением и нередко решающей ролью для исхода войны."

  @url_vk = "http://newbattle.ru/"
  @title_vk = "blablabla" 
  @image_path_vk = "http://localhost:3000/assets/decor/logo.jpg" 
  @desc_vk = "bbblllaaabbblllaaabbblllaaabbblllaaa"

%>

<style>
#share_left_vk{
	cursor:pointer;
}
.my_line {
        line-height: 1.1;
        margin-top: 5%;
      }
.container-narrow {
        margin: auto auto;
        max-width: 700px;
      }
.divcenter {
  margin-left: 30%;
}

.elem_center {
	display: block;
	margin-left: 30%;
    margin-right: auto;
}
</style>
<script>
var win= null;

//var timer = setInterval(function () {
//       if (win.closed){
//         alert('Закрылось');//refresh_auth_area();
//         setTimeout(function(){ 
//         clearInterval(timer);
//       } , 10);
//     }
//   }, 20);

//Отправка на стены соц сетей
//http://www.facebook.com/sharer/sharer.php?
//http://vkontakte.ru/share.php?
//getShareLink: function() {
	//    return 'https://twitter.com/share'
	//	    + '?url=' + encodeURIComponent(this.linkToShare)
	//	    + (this.title ? '&text=' + encodeURIComponent(this.title) : '');
	//},


//Подсчет шарингов в ВК-тви-фейс
//http://vk.com/share.php?act=count&url=http://newbattle.ru/
//countServiceUrl: 'http://urls.api.twitter.com/1/urls/count.json?url='
//https://api.facebook.com/method/fql.query?format=json&query=
	//var fql = 'SELECT share_count FROM link_stat WHERE url="' + url + '"';

function extend(Child, Parent) {
	var F = function() { }
	F.prototype = Parent.prototype
	Child.prototype = new F()
	Child.prototype.constructor = Child
	Child.superclass = Parent.prototype
}

//Share = Object.create
Share = {
	
    set_share: function(provider, purl, ptitle, pimg, text) {
        url  = encodeURIComponent(provider)//provider = 'http://vkontakte.ru/share.php?';
        url += 'url='          + encodeURIComponent(purl);
        url += '&title='       + encodeURIComponent(ptitle);
        url += '&description=' + encodeURIComponent(text);
        url += '&image='       + encodeURIComponent(pimg);
        url += '&noparse=true';
        popup_res=Share.popup(url);
    },
  	popup: function(url) {
  		//timer;
        var w=window.open(url,'','toolbar=0,status=0,width=626,height=436');
        win = w;
    },
    simple: "Hello",




};  

function share_constructor() {
	private_par = "private";
    this.set_share = function(provider, purl, ptitle, pimg, text) {
        url  = encodeURIComponent(provider)//provider = 'http://vkontakte.ru/share.php?';
        url += 'url='          + encodeURIComponent(purl);
        url += '&title='       + encodeURIComponent(ptitle);
        url += '&description=' + encodeURIComponent(text);
        url += '&image='       + encodeURIComponent(pimg);
        url += '&noparse=true';
        popup_res=Share.popup(url);
    }
  	this.popup = function(url) {
  		//timer;
        var w=window.open(url,'','toolbar=0,status=0,width=626,height=436');
        win = w;
    }
    this.get_private = "private_par";
    this.simple = "Hello";
    this.set_private = function(val){
    	private_par = val
    	alert(private_par);

    }
    
}

function new_share_constructor(){
	this.url_params = "";
	this.make_params = function(purl, ptitle, pimg, text){
		url = "";
		if (purl.length > 0) {
			url += 'url=' + encodeURIComponent(purl);
		}
		if (ptitle.length > 0) {
			url += '&title='       + encodeURIComponent(ptitle);
		}
		if (text.length > 0) {
			url += '&description=' + encodeURIComponent(text);
		}		
		if (pimg.length > 0) {
			url += '&image='       + encodeURIComponent(pimg);
		}
		this.url_params = url
	}
}

Sharer = new share_constructor();
Sharer.simple=function(){simple = "now"};
//Vkontakte_provider = Object.create



function Provider(purl_set_share, puid){
	this.url_set_share= purl_set_share,
	this.uid= puid

	this.alert_par = function(){
		alert(this.uid);
	}
	this.share = function(parametres) {
        url = this.url_set_share+parametres
        popup_res=Share.popup(url);
    }
  	this.popup = function(url) {
  		//timer;
        var w=window.open(url,'','toolbar=0,status=0,width=626,height=436');
        win = w;
    }
} 
Provider.prototype =  new  new_share_constructor()//share_constructor()//Sharer

vkontakte_obj = new Provider('http://vkontakte.ru/share.php?',"VK")
facebook_obj = new Provider('http://www.facebook.com/sharer/sharer.php?' ,"FB")
twitter_obj = new Provider('https://twitter.com/share?',"TW")

function Owner_provider (){
	this.new_field = "new field"
}
owner = new Owner_provider()
function Provider_p(purl_set_share, puid){
	this.url_set_share= purl_set_share,
	this.uid= puid
}
//extend(Provider, Owner_provider )
Provider_p.prototype = owner
vk = new Provider('http://vkontakte.ru/share.php?', "VK")



//Vkontakte_provider.prototype = Share;
//vk = new Vkontakte_provider
//extend(Vkontakte_provider, Share )

//var Newvk = Vkontakte_provider.create(Share)

var Facebook_provider = {
	url_set_share: 'http://www.facebook.com/sharer/sharer.php?',
	uid: "FB",
}

var Twitter_provider = {
	url_set_share: 'https://twitter.com/share?',
	uid: "TW",
}

var Vkontakte_provider = {
	url_set_share: 'http://vkontakte.ru/share.php?',
	uid: "VK",
}

var VK = {
    Share: {
        count: function(value, count) {
            $('#vk_lot_left').html(count);
            //alert(count)//$('#vkontakte_count').html(count);
        }
    }
}



//countLikes: function() {
//	    var
//		serviceURI = this.getCountLink(this.linkToShare),
//		execContext = this;
//
//	    return $.ajax({
//		url: serviceURI,
//		dataType: 'jsonp',
//		success: function(data, status, jqXHR) {
//		    if(status == 'success' && data[0]) {
//			if(data[0].share_count > 0) {
//			    execContext.setCountValue(data[0].share_count)
//			}
//		    }
//		}
//	    });
//	},
//	getCountLink: function(url) {
//	    var fql = 'SELECT share_count FROM link_stat WHERE url="' + url + '"';
//	    return this.countServiceUrl + encodeURIComponent(fql);
//	},

$(function(){

	$('#example').click(function(){
		vkontakte_obj.make_params('<%= "#{@url_vk}" %>','<%= "#{@title_vk}" %>','<%= "#{@image_path_vk}" %>','<%= "#{@desc_vk}" %>')
		alert(vkontakte_obj.url_params);
		vkontakte_obj.share(vkontakte_obj.url_params)
		//alert(vk.uid);
		//alert(vk.new_field);
		//alert(vkontakte_obj.simple)
		//vkontakte_obj.make_params("hiiiiiiis");
		//vkontakte_obj.set_private("im set")
		//alert(vkontakte_obj.params)
	})

	function getCountShare(){
		var
		//serviceURL = "http://urls.api.twitter.com/1/urls/count.json?url=";
		serviceURL = "http://vk.com/share.php?act=count&url=";
		thisURL = "http://newbattle.ru/&callback=?";
		resultURL = serviceURL + thisURL;
	
		$.ajax({
			url: resultURL,
			dataType: 'JSONP',
			error: function(data, status) {
				//alert('Что-то возвращаем');
				//alert(data);
				 //if(status == 'success' && data[0]) {
				 //	alert(data[0].share_count);
				 //}	
			}	
		});
	}
	 //timer;
	//$(wnd_transport).click(function(){
	//	alert('you are clicking for self window');
	//});
	
	
	//window.open("http://www.ya.ru",'','toolbar=0,status=0,width=626,height=436');
	//$(window).onload(function(){
	//	alert('resize')
	//});
	//alert('ok');

//$(window).bind('unload',function () {
//	 alert("Bye now!"); 
//	});
	// wnd_transport.onUnLoad(function(){
	// 	alert("working");
	// });
	var img = '<img src="https://si0.twimg.com/a/1339639284/images/three_circles/twitter-bird-white-on-blue.png"/>';
	soc_f = '<img src="assets/decor/Facebook.png" id="share_left_vk" />';
	soc_t = '<img src="assets/decor/Twitter.png" />';
	soc_v = '<img src="assets/decor/Tumblr.png" />';
	$("#voice2").popover({ title: 'Воспользуйтесь соц.сетью', 
							html: 'true', 
							content: soc_f+soc_t+soc_v });
	$("#voice1").popover({ title: 'Воспользуйтесь соц.сетью', 
							html: 'true', 
							placement: 'left',
							content: soc_f+soc_t+soc_v }	);
	$('#test_share').live("click", function(){
		getCountShare();
	}); 
	$('#share_left_vk').live("click",function(){
		//getCountShare();
		var timer = setInterval(function () {
 		    if (win.closed){
 		      //getCountShare();
 		      alert('Закрылось');//refresh_auth_area();
 		      getCountShare();
 		      setTimeout(function(){ 
 		      clearInterval(timer);
 		      win = null;
 		    } , 10);
 		  }
 		}, 20);
 		Share.vkontakte('<%= "#{@url_vk}" %>','<%= "#{@title_vk}" %>','<%= "#{@image_path_vk}" %>','<%= "#{@desc_vk}" %>');
 		
 	});

 	$('#b2').tooltip({ html: 'true', 
 					   title: '<p class="my_line"><%= @description2 %></p>', 
					   placement: 'right'});
 	$('#b1').tooltip({  title: '<p class="my_line"><%= @description1 %></p>', 
						html: 'true', 
						placement: 'left' }	)

 	

});
//thumbnail

</script>


<br/>
<div class="container-narrow">
	<div class="row-fluid" style="border: solid <%= "#{@border_div}" %>px">
		<div class="span12" style="border: solid <%= "#{@border_div}" %>px">
			<div class="row-fluid" style="border: solid <%= "#{@border_div}" %>px">
				<div class="span12" style="border: solid <%= "#{@border_div}" %>px">
					<!-- <img href="#" class="thumbnail"> -->
					<p style="text-align:center">
						<% logo = image_tag("decor/logo.jpg", :alt=>"Sample app", :class=>"img-rounded", :width=>"100")%>
						<%= link_to logo, root_path, :class => "thumbnail_null" %>
					</p>
	  				<%#= link_to logo, root_path, :class => "" %>
	  			 	<!--</img> -->
				</div>	
			</div>
			<div class="row-fluid" style="border: solid <%= "#{@border_div}" %>px">
				<div class="span12" style="border: solid <%= "#{@border_div}" %>px">
					<h1 style="text-align:center">
			  			Битвы нашего города!
					</h1>
				</div>	
			</div>
		</div>
	</div>
	<hr>


	<div class="row-fluid" style="border: solid <%= "#{@border_div}" %>px">
		<div class="span6 offset3" style="border: solid <%= "#{@border_div}" %>px">
			<p class="lead" style="text-align:center">
				Заголовок очередной битвы
			</p>	
		</div>		
	</div>	
	<div class="row-fluid" style="border: solid <%= "#{@border_div}" %>px">
		<div class="span3 offset3" style="border: solid <%= "#{@border_div}" %>px">
			<p class="lead" style="text-align:center">
				<% logo = image_tag("battle/b-1.jpg", :alt=>"Sample app", :class=>"img-rounded", :width=>"250")%>
					<%= link_to logo, root_path, :class => "thumbnail", 
												 :id => "b1",
												 :rel=>"tooltip"%>
			</p>
		</div>	
		<div class="span3" style="border: solid <%= "#{@border_div}" %>px">
			<p class="lead" style="text-align:center">
				<% logo = image_tag("battle/b-3.jpg", :alt=>"Sample app", :class=>"img-rounded", :width=>"250") %>
					<%= link_to logo, root_path, :class => "thumbnail", :id => "b2", 
												 :rel=>"tooltip" %>
			</p>	
		</div>		
	</div>

	<div class="row-fluid" style="border: solid <%= "#{@border_div}" %>px">
		<div class="span3 offset3" style="border: solid <%= "#{@border_div}" %>px">
			<p style="text-align:center">
  				<button class="btn btn-large btn-info" id="voice1" type="button" rel="popover">Голосовать</button>
			</p>	
		</div>	
		<div class="span3" style="border: solid <%= "#{@border_div}" %>px">
			<p style="text-align:center" >				
  				<button class="btn btn-large btn-success" id="voice2" type="button">Голосовать</button>
			</p>
		</div>	
	</div>	

	<div class="row-fluid" style="border: solid <%= "#{@border_div}" %>px">
		<div class="span1 offset3" style="border: solid <%= "#{@border_div}" %>px">
			<p style="text-align:center">
  				vk: <span class="count_voice" id="vk_lot_left">1</span>
			</p>	
		</div>	
		<div class="span1" style="border: solid <%= "#{@border_div}" %>px">
			<p style="text-align:center">
  				fb: <span class="count_voice" id="fb_lot_left">1</span>
			</p>	
		</div>	
		<div class="span1" style="border: solid <%= "#{@border_div}" %>px">
			<p style="text-align:center">
  				tw: <span class="count_voice" id="tw_lot_left">1</span>
			</p>	
		</div>	
		<div class="span1" style="border: solid <%= "#{@border_div}" %>px">
			<p style="text-align:center">
  				vk: <span class="count_voice" id="vk_lot_right">1</span>
			</p>	
		</div>	
		<div class="span1" style="border: solid <%= "#{@border_div}" %>px">
			<p style="text-align:center">
  				fb: <span class="count_voice" id="fb_lot_right">1</span>
			</p>	
		</div>	
		<div class="span1" style="border: solid <%= "#{@border_div}" %>px">
			<p style="text-align:center">
  				tw: <span class="count_voice" id="tw_lot_right">1</span>
			</p>	
		</div>	
	</div>	


</div>	
<a href="#" id="example" class="btn btn-success" rel="popover">hover for popover</a>

<a onclick="Share.vkontakte('<%= "#{@url_vk}" %>','<%= "#{@title_vk}" %>','<%= "#{@image_path_vk}" %>','<%= "#{@desc_vk}" %>')"> шарь меня полностью</a>

<a onclick="Share.vkontakte('<%= "#{@url_vk}" %>','TITLE','IMG_PATH','DESC')"> Шарь</a>
<a href="#" id="test_share" > Experiment </a>
        
