
</script>
<%#= render :partial => 'shared/admin_head' %>
<div class="row-fluid center-elem update_big_elem">
    <h1>Битвы</h1>  
</div>    
<% @buttles.each do |buttle| %>
<%
#Для лота с меньшим количеством голосов красный цвет
  if buttle.votes_first_opponent.size > buttle.votes_second_opponent.size
    color_first = "green"  
    color_second = "red"
  else
    color_first = "red"  
    color_second = "green"
  end  
%>
<div class="row-fluid">
<blockquote>
  <div class="span6">      
    <p  style="line-height: 35px"><span style="font-size: 35px"><%= link_to buttle.name, buttle %> </span>  </p><br/>
    <small>Дата создания: <%= Russian::strftime(buttle.created_at, "%d %B %Y") %></small> <%##.stamp("Sunday, May 1, 2000")%>
  
  </div>
  <div class="span2 center-elem">
    <p style="margin-bottom: 10px"><%= buttle.opponent_first.name %></p>    
    <%= image_tag(buttle.opponent_first.image.url(:medium), :alt=>"Sample app", :class=>"img-rounded", :width=>"80") %>
  </div>
  <div class="span2 offset center-elem">
      <p style="line-height: 100px; vertical-align:middle; font-size: 50px;">VS</p>
  </div>
  <div class="span2 center-elem ">
    <p style="margin-bottom: 10px"><%= buttle.opponent_second.name %></p> 
    <%= image_tag(buttle.opponent_second.image.url(:medium), :alt=>"Sample app", :class=>"img-rounded", :width=>"80") %>
  </div> 
  <div class="row-fluid">
      <div class="span2 offset6 ">
        <small style="text-align: center; color: <%= color_first %> "><%= buttle.votes_first_opponent.size %></small>
      </div> 
      <div class="span2 offset2">
        <small style="text-align: center; color:<%= color_second %> "><%= buttle.votes_second_opponent.size %></small>
      </div>         
  </div>   
</blockquote>
</div>
<br/>
<% end %>
<div class="row-fluid center-elem">
  <%= will_paginate @buttles %>
  <%#= Russian::pluralize(count, one, two, five)  %>
</div>
<br />