<%#= render :partial => 'shared/admin_head' %>
<div class="row-fluid center-elem update_big_elem">
    <h1>Битвы</h1>  
</div>    
<% @buttles.each do |buttle| %>
<blockquote>
<div class="row-fluid">
  <div class="span4">      
    <p><span style="font-size: 40px"><%= link_to buttle.name, buttle %> </span>  </p><br/>
    <small><%= buttle.created_at %></small>
  
  </div>
  <div class="span2">
    <%= image_tag(buttle.opponent_first.image.url(:medium), :alt=>"Sample app", :class=>"img-rounded", :width=>"80") %>
    <small style="color: red"><%= buttle.votes_first_opponent.size %></small>
  </div>
  <div class="span2">
      <p style="line-height: 100%;vertical-align:middle; font-size: 50px;">VS</p>
  </div>
  <div class="span2">
    <%= image_tag(buttle.opponent_second.image.url(:medium), :alt=>"Sample app", :class=>"img-rounded", :width=>"80") %>
    <small style="color: blue"><%= buttle.votes_second_opponent.size %></small>
  </div>    
</div>
</blockquote>
<% end %>

<br />
<div class="row-fluid center-elem">
<%= link_to 'Новая битва-кнопка', new_buttle_path, :class => "btn btn-large btn-simple" %>
</div>