<%= javascript_include_tag "application" %>
<!-- список цветок
000000  1F4E7D  375A7D
000000  7D561F  7D6037  
-->
<!DOCTYPE html>
<html>
<head>
<!--
<script src="http://vkontakte.ru/js/api/xd_connection.js?2" type="text/javascript"></script>
-->
  <title><%= @title %></title>
  <%= csrf_meta_tags %>
  <%= render 'layouts/stylesheets' %>



</head>

<body>
<br/>
<div class="container-narrow">
    <%= yield %>
</div>





<%#= render 'layouts/header' %>


</body>
</html>
