<%= javascript_include_tag "application" %>
<!-- список цветок
000000  1F4E7D  375A7D
000000  7D561F  7D6037  
-->
<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= csrf_meta_tags %>
  <%= render 'layouts/stylesheets' %>



</head>

<body>





<%#= render 'layouts/header' %>
<%= yield %>

</body>
</html>
